.settings-wrapper{
    max-width: 1168px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;

}
.settings-nav{
    max-width: 258px;
    width: 100%;
    min-height: 820px;
    border-right: 1px solid var(--neutral-200);
    padding:2rem 1.6rem 2rem 3.2rem;

}
.settings-list{
    width: 100%;
}

.theme-options-wrapper{
    max-width: 528px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.2rem;
}
.theme-title{
    font-size: 1.6rem;
    font-weight: 600;
}
.theme-parag{
    font-size: 1.4rem;
}
.theme-options-list,.theme-option-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.theme-options-list{
    gap: 1.6rem;
    margin-top: 2.4rem;

}
.theme-option-btn{
    width: 100%;
    justify-content: space-between;
    border: 1px solid var(--neutral-200);
    height: 72px;
    padding: 0 1.6rem;
    border-radius: 1.2rem;
}
.dark-border.dark-border,.icon-wrapper.dark-boarder{
    border: 1px solid var(--neutral-700)!important;
    color: var(--neutral-200)!important;
}
.current-theme{
    background-color: var(--neutral-100);
}
.left-side-wrapper{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.icon-wrapper{
    height: 4rem;
    width: 4rem;
    border: 1px solid var(--neutral-200);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;

}
.font-option{
    font-size: 2rem;
    font-weight: bold;

}
.serif{
    font-family: "Noto Serif", serif;
}
.mono{
    font-family: "Source Code Pro", serif;

}
.text-wrapper{
    text-align: left;
}
.right-icon{
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    border: 4px solid var(--neutral-200);
}
.right-icon.current-icon{
    border: 4.5px solid var(--blue-500);
    transition: .3s ease-in-out;
}