.aside-wrapper,
.aside-nav,.links-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aside-wrapper {
  
  padding: 1.2rem 1.6rem;
  min-height: 900px;
}
.aside-nav {
  margin-top: 1.6rem;
}
.links-wrapper{
    gap: 1.6rem;
}
.link-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.btn{
  width: 100%;
  justify-content: flex-start;
  padding: 1rem 1.2rem;

}
.btn-text{
  display: flex;
  align-items: center;
  gap: .8rem;
  font-size: 1.4rem;
  font-weight: normal;
  min-width: max-content;

}
.current-link{
  background-color: var(--neutral-100);
justify-content: space-between;
border-radius: .8rem;
}
.link-icon{
  font-size: 2rem!important;
}
.current-icon{
  color: var(--blue-500)!important;
}

/* TAGS STYLING */
.tag-list,.tags-list-item{
    width: 100%;
}
.tag-list{
display: flex;
flex-direction: column;
gap: 1.2rem;
padding-top: .8rem;
border-top: 1px solid var(--neutral-200);
font-size: 1.6rem;

}
.tags-list-route,.search-tab-route{
  width: 100%;
}
.dark-tag-list{
  border-top: 1px solid var(--neutral-800);
}
.tag-heading{
  color: var(--neutral-500);
  font-size: 1.4rem;
  font-weight: 500;
}
.tag-item{
    width: 100%;
}



